
<body>

  <header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Off the Bench</h1>
        <button type = "button" class = "btn btn-primary btn-lg">
          Log In
        </button>
        <h3>Sign Up<h3>
        <h3>About<h3>
        <h3><%= link_to 'Find Games', events_path%> </h3>
    </div>
  </header>

</body>
