<style>
html {
  height: 100%;
}

body{
  background: url("/images/background-home.jpg") no-repeat center center scroll;
  height: 100%
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
</style>

<body>
<!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Welcome to Off the Bench</h1>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

</body>
