<% if @notifications.count > 0 %>
  <div class="row" style="display:flex; flex-wrap: wrap;">
    <% @notifications.each do |event| %>
        <%= render 'recommendation_card', event: event %>
    <% end %>
  </div>
<% else %>
  <h5 class="center" id="simple_link">
    No Notifications... <%= link_to "Add New Event to Watch For", user_prefs_new_path(current_user) %>
  </h5>
<% end %>