<h1>Watching For:</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Sport</th>
      <th>Days</th>
    </tr>
  </thead>
  <tbody>
    <% @user.userPrefs.each do |pref| %>
      <tr>
        <td><%= pref.display_sport %></td>
        <td><%= pref.days %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
